@use "src/styles/variables" as *;

.itemCart {
  background-color: cadetblue;
  section {
    background-color: $background-img;
    border-radius: 10px;
    button {
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-size: 16px;
      background-color: #2e7f7f;
      &:hover {
        background-color: #104b4b;
        transition: background-color 0.3s ease;
        transform: scale(1.05);
        transition: transform 0.3s ease;
      }
    }
  }
}
