@use "src/styles/variables" as *;

.card {
  border-radius: 5px;
  background-color: white;
  font-family: "Arial", sans-serif;

  .card-data {
    background-color: $background-card;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    gap: 10px;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      background-color: $background-img;
      border-radius: 10px;
      padding: 10px;
      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        border: 2px solid #37a3a3;
      }
    }
    span {
      text-decoration: line-through;
      color: $text-color;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  }
}

.container-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cart-plus {
    cursor: pointer;
    padding: 8px;
    &:hover {
      color: black;
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }
  .btn-shop {
    margin-top: 8px;
    background-color: #37a3a3;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background-color: #2e7f7f;
      transform: scale(1.1);
      transition: transform 0.3s ease, background-color 0.3s ease;
    }
  }

  .btn-cart {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      background-color: #2e7f7f;
      color: white;
      transition: background-color 0.3s ease;
    }
  }
}
