@use "src/styles/variables" as *;

div {
  border-radius: 5px;

  ul {

    div {
      font-weight: bold;
      color: #333;
      cursor: pointer;
      background-color: $background-card;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
      color: $color-title;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      background-color: $background-img;
      border-radius: 10px;
      padding: 10px;
      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        border: 2px solid #37a3a3;
      }
    }
  }
}
